@import '../../shared/variables';

.welcome__title {
  font: 1.9em sans-serif;
}

.welcome__container {
  @include container($bg-primary-color);

  align-content: center;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
}

.welcome__text {  
  border: 2px solid transparent;
  border-radius: 4px;
  color: $input-primary-color;
  font: inherit;
  height: 60px;
  margin: 20px;
  text-align: center;  
  width: 200px;
  
  &::placeholder {  
    text-align: center;  
  }
}

.players__vs {
  text-shadow: 2px 2px 2px black;
}

.welcome__links-container {
  display: flex;
  justify-content: space-around;
}

.welcome__links {
  @include links;
}