@import '../../shared/variables';

.game__container {
  align-items: center;
  background-color: $bg-secondary-color;
  color: $font-primary-color;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: space-evenly;
  min-height: 100vh;
}

.game__match {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game__select {
  border: 2px solid transparent;
  border-radius: 4px;
  color: $bg-primary-color;
  font: inherit;
  height: 60px;
  margin: 20px;
  width: 30vw;
}

.game__status {
  max-width: 130px
}

.game__log {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 130px;
}

.game__links {
  background-color: $button-primary-color;
  border: 2px solid transparent;
  border-radius: 4px;
  bottom: 40px;
  position: absolute;

  &:hover {
    border: 2px solid black;
  }

  & a {
    color: $font-primary-color;
    display: block;
    font: inherit;
    text-decoration: none;
    padding: 10px 56px;
  }
}