.game__container {
  background-color: #6C6394;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game__match {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game__select {
  border: 2px solid transparent;
  border-radius: 4px;
  color: #282c34;
  font: inherit;
  height: 60px;
  margin: 20px;
  width: 30vw;
}

.game__status {
  max-width: 130px
}

.game__log {
  min-width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game__links {
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #0079C6;
  position: absolute;
  bottom: 40px;

  &:hover {
    border: 2px solid black;
  }

  & a {
    color: white;
    display: block;
    font: inherit;
    text-decoration: none;
    padding: 10px 56px;

  }
}