@import '../../shared/variables';

.game__container {
  @include container($bg-secondary-color);

  background-color: $bg-secondary-color;
  justify-content: space-evenly;
}

.game__match {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game__select {
  border: 2px solid transparent;
  border-radius: 4px;
  color: $bg-primary-color;
  font: inherit;
  height: 60px;
  margin: 20px;
  width: 30vw;
}

.game__status {
  max-width: 130px
}

.game__log {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 130px;
}

.game__links {
  @include links;
  
  bottom: 40px;
  position: absolute;
}