$font-primary-color: #ffffff;
$bg-primary-color: #282c34;
$bg-secondary-color: #6C6394;
$bg-tertiary-color: #282c90;
$bg-quaternary-color: #282cff;
$button-primary-color: #0079C6;
$input-primary-color: #282c50;