.animation__background {
  background: transparent;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
}

.bg__bubbles--left {
  height: 100%;
  left: 90%;
  position: absolute;
  top: 100%;
  width: 100%;
}

.bg__bubbles--rigth {
  height: 100%;
  position: absolute;
  right: 0%;
  top: 100%;
  width: 100%;
}

.bg__bubble {
  animation: square 50s infinite;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  bottom: -320px;
  display: block;
  height: 80px;
  list-style: none;
  transition-timing-function: linear;
  width: 80px;
}

.bg__bubble1 {
  left: 10%;
}

.bg__bubble2 {
  animation-delay: 2s;
  animation-duration: 34s;
  height: 160px;
  left: 20%;
  width: 160px;
}

.bg__bubble3 {
  animation-delay: 4s;
  left: 25%;
}

.bg__bubble4 {
  animation-duration: 44s;
  height: 120px;
  left: 40%;
  width: 120px;
}

.bg__bubble5 {
  left: 70%;
}

.bg__bubble6 {
  animation-delay: 3s;
  width: 240px;
  height: 240px;
  left: 80%;
}

.bg__bubble7 {
  animation-delay: 7s;
  height: 320px;
  left: 32%;
  width: 320px;
}

.bg__bubble8 {
  animation-delay: 15s;
  animation-duration: 80s;
  height: 40px;
  left: 55%;
  width: 40px;
}

.bg__bubble9 {
  animation-delay: 2s;
  animation-duration: 80s;
  height: 20px;
  left: 25%;
  width: 20px;
}


@keyframes square {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-1500px) rotate(600deg);
  }
}


.winner__container {
  align-items: center;
  background-color: #282c90;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.winner__links-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
}

.winner__links {
  background-color: #0079C6;
  border: 2px solid transparent;
  border-radius: 4px;
  margin: 0 5px;
  &:hover {
    border: 2px solid black;
  }

  & a {
    color: white;
    display: block;
    font: inherit;
    padding: 10px 20px;
    text-decoration: none;
  }
}