@import '../../shared/variables';

.podium__container {
  @include container($bg-quaternary-color);

  flex-direction: column;
  justify-content: center;
}

.podium__table {
  font: inherit;
}

.podium__links {
  @include links;
}